<!-- {% includes "views/base.html" %} -->
<html>
  <head>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../static/css/bootstrap-theme.min.css" type="text/css">
    <style>
      body {
          background-color: linen;
          margin: 0 auto;
          width: 900px;
          min-height: 700px; 
      }

      h1 {
          color: maroon;
          margin-left: 40px;
      } 
</style>
  </head>
  <body>
  <header>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right">
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>
  </header>

{% block content %}
    <div style="overflow-x:auto;">
  <fieldset class="user_admin_list">
      <legend><h4>User Dashboard ADMIN</h4></legend>
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Full Name</th>
            <th>Email</th>
            <th>Created at</th>
            <th>User level</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
      {% for user in users: %}
          <tr>
            <td>{{user['first_name']}}</td>
            <td>{{user['last_name']}}</td>
            <td>{{user['email']}}</td>
            <td>{{user['created_at']}}</td>
            <td>{{user['user_level']}}</td>
            <td>{{user['action']}}</td>
            <td>
              <form action='/update' method="POST">
                <input type='hidden' name='user_id' value="{{user['id']}}">
                <input type='submit' value="update">
              </form>
              <form action='/delete' method="POST"> 
                <input type='hidden' name='user_id' value="{{user['id']}}">
                <input type='submit' value="delete">
              </form>
            </td>
          </tr>
        </tbody>
      </table>
      {% endfor %}
      </fieldset>
</div>

{% endblock content %}

</body>
  <script src = "https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src = "/static/js/bootstrap.min.js"></script>
</html>
