<html>
  <head>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css" type="text/css">
    <style type="text/css">
    #content{
      margin-top: 70px;
    }

    #welcome{
    margin: 0px auto;
    width: 80%;
    height: 200px;
    background-color: pink;
  }
  #boxes{
    margin: 0px auto;
    width: 80%;
    margin-top: 20px;
    padding-bottom: 10px;

  }
  .box{
    margin: 0px auto;
    display: inline-block;
    width: 33%;
    height: 150px;
    background-color: pink;
    vertical-align: top;
  }
  input{
    background-color: lightblue;

  }
</style>
  </head>
  <body>
  <header>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right">
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>
  </header>
  <div id= 'content'>
      <div id = 'welcome'>
        <h2>Welcome to the Test</h2>
        <p>We're going to build a cool application usng a MVC framework! This application was build with the Village88 Folks!</p>
        <form action='go' method='start'><input type='submit' name='start' value='You Suck'></form> 
      </div>
      <div id='boxes'>
        <div class='box'>
          <h3>Manage Losers</h3>
          <p>Using theis Application, you'll learn how to add, remove, and edit users for the application!</p>
        </div>
        <div class='box'>
          <h3>Leave Messages</h3>
          <p>Users will be able to leave a message to another user using this application.</p>
        </div>
        <div class='box'>
          <h3>Edit Loser Information</h3>
          <p>Admins will be able to edit another loser's information (email address, first name, last name, etc.)</p>
        </div>
      </div>

    </div>
  </body>
  <script src = "https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src = "/static/js/bootstrap.min.js"></script>
</html>
