<html>
  <head>
  	<title>Sign in</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css" type="text/css">
    <style type="text/css">
    	body{
    		padding-left: 50px;
    	}
    	#signin_h1{
    		margin-top: 100px;
    	}
    	input{
    		display: block;
    	}
    	#signin_submit{
    		margin-left: 100px;
    		margin-top: 10px;
    		color: white;
    		background-color: green;
    	}
    </style>
  </head>
  <body>
  <header>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right">
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>
  </header>
	<h1 id="signin_h1">Sign in</h1>
	<!-- This form will go to the routes["POST"]["/login"] -->
	<form action="/login" method="POST">
		<label for="email">E-mail address:</label>
		<input type="email" name="email">
		<label for="password">Password:</label>
		<input type="password" name="password">
		<input type="submit" value="Sign In" id="signin_submit">
	</form>
	<a href="/register">Don't have an account?  Register.</a>
  </body>
  <script src = "https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src = "/static/js/bootstrap.min.js"></script>
</html>
